<!DOCTYPE html>

<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>
        <!--    Load CSS elements-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/css/spotlight.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/css/fonts.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/css/govuk-template.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/css/charts.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/css/dc.css') }}">
    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}"> -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/css/govuk-template-print.css') }}">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
    
    <title>GOV.UK Verify Local Dashboard</title>
    
 <!--Load Javascript files-->
    <script type="text/javascript">
    /*global navigator*/
        (function () {
            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var d = document,
                    c = "appendChild",
                    a = d.createElement("style");
                a[c](d.createTextNode("@-ms-viewport{width:auto!important}"));
                d.getElementsByTagName("head")[0][c](a);
            }
        })();
    </script>
    
    <script src="{{ url_for('static', filename='lib/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/govuk-template.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/crossfilter.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/dc.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/js/keen.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/load_bucks_files.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bucks_seriescharts.js') }}"></script>

<!-- 
    <script>

		// d3.csv("static/data/local_visits.csv", function(error, data){
        d3.csv("static/data/services.csv", function(error, data) {
                    console.log(data);

                    var dateFormat = d3.time.format("%Y-%m-%d");
                    var numberFormat = d3.format(",d");
                    
                    data.forEach(function (d) {
                        d.date = dateFormat.parse(d.date);          
		        });
                    makeGraphs(error, data);



            });     
             
    </script> -->
</head>
  <!--   var dateFormat = d3.time.format('%m/%d/%Y');
    var numberFormat = d3.format('.2f');

    data.forEach(function (d) {
        d.dd = dateFormat.parse(d.date);
        d.month = d3.time.month(d.dd); // pre-calculate month for better performance
        d.close = +d.close; // coerce to number
        d.open = +d.open;
    }); -->


<body>
<!-- start header -->
<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                        GOV.UK
                    </a>
            </div>
        </div>
        <div class="header-proposition">
            <div class="content">
                <nav id="proposition-menu" role="navigation">
                    <a href="https://www.gov.uk/performance" id="proposition-name">Performance</a>
                    <span class="beta-tag">Beta</span>
                    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
                    <ul id="proposition-links">
                        <li><a href="https://www.gov.uk/performance/services">Service dashboards</a>
                        </li>
                        <li><a href="http://performance-platform.readthedocs.org/">Get a dashboard</a>
                        </li>
                        <li><a href="https://www.gov.uk/performance/about">About</a>
                        </li>
                        <li><a href="https://www.gov.uk/performance/prototypes">Prototypes</a>
                        </li>
                        <li><a href="https://gdsdata.blog.gov.uk/">Blog</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</header>
<!--end header-->

<div id="global-header-bar">
    <div class="inner-block">
        <div class="header-bar"></div>
    </div>
</div>
<!--end global-header-bar-->

<div id="wrapper">
    <main id="content" class="group" role="main">




        <body class="application">
        <header class="page-header">
    <div>
        <h2 class="heading-large">Parking permit Dashboard for Buckinghamshire County Council</h2>

    </div>
</header>
<p class="lede">
  Charts showing the performance  data for users of GOV.UK Verify Local Authority 
</p>

                <div class="web-metrics" >
                        
                    <div id="visits" class="single-metric">
                        Visits: 

                        <span class="metrics-display"></span>
                    </div>
                    
                    <div id="unique-visitors" class="single-metric">
                        Unique Visitors: 
                        <span class="metrics-display"></span>
                        
                    </div>
                    <div id="pageviews" class="single-metric">
                       Pageviews: 
                        <span class="metrics-display"></span>
                        
                        </div>
<!-- 
                    <div id="average-time-on-page" class="single-metric">
                        Average time on page: 
                        <span class="metrics-display"></span>

                    </div> -->
                     <div class="single-metric">
                        Average time on page: 
                        <span class="metrics-display">{{avtop|safe}}</span>

                    </div>
                </div>
            
           
            <div class="col-md-5">

                    <div class="chart-wrapper">
                        <!-- <div class="chart-stage"> -->


                            <div id="ser-chart">
                                <div class="titling">
                                    Service chart              
                                    <span class='reset' style='visibility: hidden;'>
                                        Selected: <span class='filter'></span>
                                    <a class='reset' href='javascript:dc.filterAll();dc.redrawAll();'>Reset all filters</a>
                                    
                                    <!-- <a href="javascript:barChartAge.filterAll();dc.redrawAll();">reset</a> -->
                                
                                    </span>
                                </div>
                            </div>
                            <div id="abandon-chart">
                                <div class="titling">
                                    New applications started with GOV.UK Verify, Legacy route and 'other ways to apply'            
                                    <span class='reset' style='visibility: hidden;'>
                                        Selected: <span class='filter'></span>
                                    <a class='reset' href='javascript:dc.filterAll();dc.redrawAll();'>Reset all filters</a>
                                    
                                    <!-- <a href="javascript:barChartAge.filterAll();dc.redrawAll();">reset</a> -->
                                
                                    </span>
                                </div>
                            </div>
                            <div id="success-rate-chart">
                                <div class="titling">
                                    Success rate             
                                    <span class='reset' style='visibility: hidden;'>
                                        Selected: <span class='filter'></span>
                                    <a class='reset' href='javascript:dc.filterAll();dc.redrawAll();'>Reset all filters</a>
                                    
                                    <!-- <a href="javascript:barChartAge.filterAll();dc.redrawAll();">reset</a> -->
                                
                                    </span>
                                </div>
                            </div>
                            <div id="customer-sat-chart">
                                <div class="titling">
                                    User satisfaction            
                                    <span class='reset' style='visibility: hidden;'>
                                        Selected: <span class='filter'></span>
                                    <a class='reset' href='javascript:dc.filterAll();dc.redrawAll();'>Reset all filters</a>
                                    
                                    <!-- <a href="javascript:barChartAge.filterAll();dc.redrawAll();">reset</a> -->
                                
                                    </span>
                                </div>
                            </div>
                            <div id="channel-chart">
                                <div class="titling">
                                    Enquiries from the online application form          
                                    <span class='reset' style='visibility: hidden;'>
                                        Selected: <span class='filter'></span>
                                    <a class='reset' href='javascript:dc.filterAll();dc.redrawAll();'>Reset all filters</a>
                                    
                                    <!-- <a href="javascript:barChartAge.filterAll();dc.redrawAll();">reset</a> -->
                                
                                    </span>
                                </div>
                            </div>
                            <div id="rejected-chart">
                                <div class="titling">
                                    Reasons for rejected online applications              
                                    <span class='reset' style='visibility: hidden;'>
                                        Selected: <span class='filter'></span>
                                    <a class='reset' href='javascript:dc.filterAll();dc.redrawAll();'>Reset all filters</a>
                                    
                                    <!-- <a href="javascript:barChartAge.filterAll();dc.redrawAll();">reset</a> -->
                                
                                    </span>
                                </div>
                            </div>

                            <!-- </div> -->
                <!-- </div>   -->
</main>
</div>
</body>


<!--end footer-->
<div class="modal"><!-- Place at bottom of page --></div>

</body>

</html>